# Python virtual environment
# dependencies
/node_modules

# Python bytecode
__pycache__/
*.py[cod]
*.so

# build / dist
*.egg-info/
*.egg
dist/
build/
vector_db/
memory

# macOS
.DS_Store

# env
.env
.env.local
